<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qdas.bi_adminlte.dao.QualityBoardAdminLteMapper">
    <sql id="wvTimeSearch">
        <if test="startTime !='' and startTime!=null and startTime !='undefined' and startTime !='null'">
            and w.WVDATZEIT &gt; #{startTime}
        </if>
        <if test="endTime !='' and endTime!=null and endTime !='undefined' and endTime !='null'">
            and w.WVDATZEIT &lt; #{endTime}
        </if>
    </sql>
    <select id="getProductLineDataMapper" parameterType="cn.qdas.bi_adminlte.bean.TeilBean" resultMap="plDataMap">
        SELECT ISNULL(t.TETEILNR, '') AS TETEILNR,ISNULL(t.TEBEZEICH, '') AS TEBEZEICH,ISNULL(t.TEKURZBEZEICH, '') AS
        TEKURZBEZEICH,w.WVWERT,m.MEMERKART,m.MEUGW,m.MEOGW,
        w.WVWERTNR,w.WVTEIL,w.WVMERKMAL
        FROM WERTEVAR w
        LEFT JOIN TEIL t ON t.TETEIL= w.WVTEIL
        LEFT JOIN MERKMAL m ON m.MEMERKMAL=w.WVMERKMAL AND m.METEIL= w.WVTEIL
        WHERE 1=1
        <include refid="wvTimeSearch"/>
    </select>
    <select id="getProductLineDataMapperByCount" parameterType="cn.qdas.bi_adminlte.bean.TeilBean" resultMap="plDataMap">
        SELECT * FROM (
            SELECT ISNULL(t.TETEILNR, '') AS TETEILNR,ISNULL(t.TEBEZEICH, '') AS TEBEZEICH,ISNULL(t.TEKURZBEZEICH, '') AS
            TEKURZBEZEICH,w.WVWERT,m.MEMERKART,m.MEUGW,m.MEOGW,
            w.WVWERTNR,w.WVTEIL,w.WVMERKMAL,row_number() OVER (PARTITION BY WVTEIL,WVMERKMAL ORDER BY WVDATZEIT
            DESC,WVWERTNR DESC) AS ROWINDEX
            FROM WERTEVAR w
            LEFT JOIN TEIL t ON t.TETEIL= w.WVTEIL
            LEFT JOIN MERKMAL m ON m.MEMERKMAL=w.WVMERKMAL AND m.METEIL= w.WVTEIL
            WHERE 1=1<include refid="wvTimeSearch"/>
            ) c where c.ROWINDEX &lt;= #{qbSerchWertCount}

    </select>
    <resultMap id="plDataMap" type="java.util.Map">
        <result property="TETEILNR" column="TETEILNR"/>
        <result property="TEBEZEICH" column="TEBEZEICH"/>
        <result property="TEKURZBEZEICH" column="TEKURZBEZEICH"/>
        <collection property="wvList" ofType="java.util.Map" javaType="java.util.List">
            <result property="WVWERT" column="WVWERT"/>
            <result property="MEMERKART" column="MEMERKART"/>
            <result property="MEUGW" column="MEUGW"/>
            <result property="MEOGW" column="MEOGW"/>
            <result property="WVWERTNR" column="WVWERTNR"/>
            <result property="WVTEIL" column="WVTEIL"/>
            <result property="WVMERKMAL" column="WVMERKMAL"/>
        </collection>
    </resultMap>
    <select id="getProcessDataMapper" parameterType="cn.qdas.bi_adminlte.bean.TeilBean" resultMap="processDataMap">
        SELECT t.TETEIL,ISNULL(t.TEAUFTRAGSTR, '') AS
        TEAUFTRAGSTR,w.WVWERT,m.MEMERKART,m.MEUGW,m.MEOGW,w.WVWERTNR,w.WVTEIL,w.WVMERKMAL
        FROM WERTEVAR w
        LEFT JOIN TEIL t ON t.TETEIL= w.WVTEIL
        LEFT JOIN MERKMAL m ON m.MEMERKMAL=w.WVMERKMAL AND m.METEIL= w.WVTEIL
        WHERE 1=1
        <if test="teilNum !='' and teilNum!=null and teilNum !='undefined' and teilNum !='null'">
            and t.TETEILNR = #{teilNum}
        </if>
        <if test="teilNum =='' or teilNum==null or teilNum =='undefined' or teilNum =='null'">
            and t.TETEILNR IS NULL
        </if>
        <if test="teilName !='' and teilName!=null and teilName !='undefined' and teilName !='null'">
            and t.TEBEZEICH = #{teilName}
        </if>
        <if test="teilName =='' or teilName==null or teilName =='undefined' or teilName =='null'">
            and t.TEBEZEICH IS NULL
        </if>
        <if test="teilK1003 !='' and teilK1003!=null and teilK1003 !='undefined' and teilK1003 !='null'">
            and t.TEKURZBEZEICH = #{teilK1003}
        </if>
        <if test="teilK1003 =='' or teilK1003==null or teilK1003 =='teilK1003' or teilK1003 =='null'">
            and t.TEKURZBEZEICH IS NULL
        </if>
        <include refid="wvTimeSearch"/>
    </select>
    <select id="getProcessDataMapperByCount" parameterType="cn.qdas.bi_adminlte.bean.TeilBean" resultMap="processDataMap">
        SELECT * FROM(
        SELECT t.TETEIL,ISNULL(t.TEAUFTRAGSTR, '') AS TEAUFTRAGSTR,w.WVWERT,m.MEMERKART,m.MEUGW,m.MEOGW,w.WVWERTNR,w.WVTEIL,w.WVMERKMAL,
        row_number() OVER (PARTITION BY WVTEIL,WVMERKMAL ORDER BY WVDATZEIT DESC,WVWERTNR DESC) AS ROWINDEX
        FROM WERTEVAR w
        LEFT JOIN TEIL t ON t.TETEIL= w.WVTEIL
        LEFT JOIN MERKMAL m ON m.MEMERKMAL=w.WVMERKMAL AND m.METEIL= w.WVTEIL
        WHERE 1=1

        <if test="teilNum !='' and teilNum!=null and teilNum !='undefined' and teilNum !='null'">
            and t.TETEILNR = #{teilNum}
        </if>
        <if test="teilNum =='' or teilNum==null or teilNum =='undefined' or teilNum =='null'">
            and t.TETEILNR IS NULL
        </if>
        <if test="teilName !='' and teilName!=null and teilName !='undefined' and teilName !='null'">
            and t.TEBEZEICH = #{teilName}
        </if>
        <if test="teilName =='' or teilName==null or teilName =='undefined' or teilName =='null'">
            and t.TEBEZEICH IS NULL
        </if>
        <if test="teilK1003 !='' and teilK1003!=null and teilK1003 !='undefined' and teilK1003 !='null'">
            and t.TEKURZBEZEICH = #{teilK1003}
        </if>
        <if test="teilK1003 =='' or teilK1003==null or teilK1003 =='teilK1003' or teilK1003 =='null'">
            and t.TEKURZBEZEICH IS NULL
        </if>
        <include refid="wvTimeSearch"/>
         ) r WHERE r.ROWINDEX &lt;= #{qbSerchWertCount}

    </select>
    <resultMap id="processDataMap" type="java.util.Map">
        <result property="TETEIL" column="TETEIL"/>
        <result property="TEAUFTRAGSTR" column="TEAUFTRAGSTR"/>
        <collection property="wvList" ofType="java.util.Map" javaType="java.util.List">
            <result property="WVWERT" column="WVWERT"/>
            <result property="MEMERKART" column="MEMERKART"/>
            <result property="MEUGW" column="MEUGW"/>
            <result property="MEOGW" column="MEOGW"/>
            <result property="WVWERTNR" column="WVWERTNR"/>
            <result property="WVTEIL" column="WVTEIL"/>
            <result property="WVMERKMAL" column="WVMERKMAL"/>
        </collection>
    </resultMap>
    <select id="getMerkmalDataMapper" parameterType="cn.qdas.bi_adminlte.bean.TeilBean" resultMap="merkmalDataMap">
        SELECT w.WVTEIL,m.MEMERKMAL,m.MEMERKBEZ,w.WVWERT,m.MEMERKART,m.MEUGW,m.MEOGW,w.WVWERTNR
        FROM WERTEVAR w
        LEFT JOIN MERKMAL m ON m.MEMERKMAL=w.WVMERKMAL AND m.METEIL= w.WVTEIL
        WHERE 1=1 AND w.WVTEIL=#{teilId}
        <include refid="wvTimeSearch"/>
    </select>
    <select id="getMerkmalDataMapperByCount" parameterType="cn.qdas.bi_adminlte.bean.TeilBean" resultMap="merkmalDataMap">
        SELECT * FROM(
        SELECT w.WVTEIL,m.MEMERKMAL,m.MEMERKBEZ,w.WVWERT,m.MEMERKART,m.MEUGW,m.MEOGW,w.WVWERTNR,
        row_number() OVER (PARTITION BY WVMERKMAL ORDER BY WVDATZEIT DESC,WVWERTNR DESC) AS ROWINDEX
        FROM WERTEVAR w
        LEFT JOIN MERKMAL m ON m.MEMERKMAL=w.WVMERKMAL AND m.METEIL= w.WVTEIL
        WHERE 1=1 AND w.WVTEIL=#{teilId}
        <include refid="wvTimeSearch"/>
        ) r WHERE r.ROWINDEX &lt;= #{qbSerchWertCount}

    </select>
    <resultMap id="merkmalDataMap" type="java.util.Map">
        <result property="WVTEIL" column="WVTEIL"/>
        <result property="MEMERKMAL" column="MEMERKMAL"/>
        <result property="MEMERKBEZ" column="MEMERKBEZ"/>
        <collection property="wvList" ofType="java.util.Map" javaType="java.util.List">
            <result property="WVWERT" column="WVWERT"/>
            <result property="MEMERKART" column="MEMERKART"/>
            <result property="MEUGW" column="MEUGW"/>
            <result property="MEOGW" column="MEOGW"/>
            <result property="WVWERTNR" column="WVWERTNR"/>
        </collection>
    </resultMap>
    <select id="getPlMissionManageChartDataMapper" parameterType="cn.qdas.bi_adminlte.bean.TeilBean"
            resultMap="mmPlChartResultMap">
        SELECT t.TETEIL,t.TETEILNR,t.TEBEZEICH,t.TEKURZBEZEICH,t.TEPREINRBEZ,TEAUFTRAGSTR,TEMASCHINENR,TEABT,TEWERK,
        w.WVWERT,m.MEMERKART,m.MEMERKMAL,m.MEUGW,m.MEOGW,w.WVWERTNR,CONVERT(varchar(100),w.WVDATZEIT, 20) AS WVDATZEIT
        FROM WERTEVAR w
        LEFT JOIN TEIL t ON t.TETEIL= w.WVTEIL
        LEFT JOIN MERKMAL m ON m.MEMERKMAL=w.WVMERKMAL AND m.METEIL= w.WVTEIL
        WHERE 1=1
        <include refid="wvTimeSearch"/>
        <!-- <if test="teilNum !='' and teilNum!=null and teilNum !='undefined' and teilNum !='null'">
             and t.TETEILNR = #{teilNum}
         </if>
         <if test="teilNum =='' or teilNum==null or teilNum =='undefined' or teilNum =='null'">
             and t.TETEILNR IS NULL
         </if>
         <if test="teilName !='' and teilName!=null and teilName !='undefined' and teilName !='null'">
             and t.TEBEZEICH = #{teilName}
         </if>
         <if test="teilName =='' or teilName==null or teilName =='undefined' or teilName =='null'">
             and t.TEBEZEICH IS NULL
         </if>
         <if test="teilK1003 !='' and teilK1003!=null and teilK1003 !='undefined' and teilK1003 !='null'">
             and t.TEKURZBEZEICH = #{teilK1003}
         </if>
         <if test="teilK1003 =='' or teilK1003==null or teilK1003 =='teilK1003' or teilK1003 =='null'">
             and t.TEKURZBEZEICH IS NULL
         </if>-->
        ORDER BY w.WVDATZEIT
    </select>
    <resultMap id="mmPlChartResultMap" type="java.util.Map">
        <result property="TETEILNR" column="TETEILNR"/>
        <result property="TEBEZEICH" column="TEBEZEICH"/>
        <result property="TEKURZBEZEICH" column="TEKURZBEZEICH"/>
        <collection property="wvnrList" javaType="java.util.List" ofType="java.util.Map">
            <result property="TETEIL" column="TETEIL"/>
            <result property="TEPREINRBEZ" column="TEPREINRBEZ"/>
            <result property="TEAUFTRAGSTR" column="TEAUFTRAGSTR"/>
            <result property="TEMASCHINENR" column="TEMASCHINENR"/>
            <result property="TEABT" column="TEABT"/>
            <result property="TEWERK" column="TEWERK"/>
            <result property="WVWERTNR" column="WVWERTNR"/>
            <collection property="wvList" javaType="java.util.List" ofType="java.util.Map">
                <result property="WVWERT" column="WVWERT"/>
                <result property="MEMERKART" column="MEMERKART"/>
                <result property="MEMERKMAL" column="MEMERKMAL"/>
                <result property="MEUGW" column="MEUGW"/>
                <result property="MEOGW" column="MEOGW"/>
                <result property="WVDATZEIT" column="WVDATZEIT"/>
            </collection>
        </collection>
    </resultMap>

    <select id="getProcessMissionManageChartDataMapper" parameterType="cn.qdas.bi_adminlte.bean.TeilBean"
            resultMap="mmProcessChartResultMap">
        SELECT t.TETEIL,t.TETEILNR,TEAUFTRAGSTR,
        w.WVWERT,m.MEMERKART,m.MEMERKMAL,m.MEUGW,m.MEOGW,w.WVWERTNR,CONVERT(varchar(100),w.WVDATZEIT, 20) AS WVDATZEIT
        FROM WERTEVAR w
        LEFT JOIN TEIL t ON t.TETEIL= w.WVTEIL
        LEFT JOIN MERKMAL m ON m.MEMERKMAL=w.WVMERKMAL AND m.METEIL= w.WVTEIL
        WHERE 1=1
        <include refid="wvTimeSearch"/>
        <if test="teilNum !='' and teilNum!=null and teilNum !='undefined' and teilNum !='null'">
            and t.TETEILNR = #{teilNum}
        </if>
        <if test="teilNum =='' or teilNum==null or teilNum =='undefined' or teilNum =='null'">
            and t.TETEILNR IS NULL
        </if>
        <if test="teilName !='' and teilName!=null and teilName !='undefined' and teilName !='null'">
            and t.TEBEZEICH = #{teilName}
        </if>
        <if test="teilName =='' or teilName==null or teilName =='undefined' or teilName =='null'">
            and t.TEBEZEICH IS NULL
        </if>
        <if test="teilK1003 !='' and teilK1003!=null and teilK1003 !='undefined' and teilK1003 !='null'">
            and t.TEKURZBEZEICH = #{teilK1003}
        </if>
        <if test="teilK1003 =='' or teilK1003==null or teilK1003 =='teilK1003' or teilK1003 =='null'">
            and t.TEKURZBEZEICH IS NULL
        </if>
        ORDER BY w.WVDATZEIT
    </select>
    <resultMap id="mmProcessChartResultMap" type="java.util.Map">
        <result property="TEAUFTRAGSTR" column="TEAUFTRAGSTR"/>
        <collection property="wvnrList" javaType="java.util.List" ofType="java.util.Map">
            <result property="TETEIL" column="TETEIL"/>
            <result property="TETEILNR" column="TETEILNR"/>
            <result property="WVWERTNR" column="WVWERTNR"/>
            <collection property="wvList" javaType="java.util.List" ofType="java.util.Map">
                <result property="WVWERT" column="WVWERT"/>
                <result property="MEMERKART" column="MEMERKART"/>
                <result property="MEMERKMAL" column="MEMERKMAL"/>
                <result property="MEUGW" column="MEUGW"/>
                <result property="MEOGW" column="MEOGW"/>
                <result property="WVDATZEIT" column="WVDATZEIT"/>
            </collection>
        </collection>
    </resultMap>
    <select id="getMerkmalChartDataMapper" parameterType="cn.qdas.bi_adminlte.bean.TeilBean" resultType="map">
        select w.WVTEIL,w.WVMERKMAL,w.WVWERTNR,w.WVWERT,CONVERT(varchar(100),w.WVDATZEIT, 20) AS
        WVDATZEIT,m.MEUGW,m.MEOGW,m.MENENNMAS,m.MEMERKART,m.MEMERKBEZ,p.PRVORNAME,t.TEKURZBEZEICH,t.TEBEZEICH,t.TETEILNR,ISNULL(t.TEAUFTRAGSTR,
        '') AS TEAUFTRAGSTR
        FROM WERTEVAR w
        LEFT JOIN TEIL t ON t.TETEIL = w.WVTEIL
        LEFT JOIN MERKMAL m ON w.WVTEIL=m.METEIL AND w.WVMERKMAL=m.MEMERKMAL
        LEFT JOIN PRUEFER p ON CONCAT(w.WVPRUEFER,'')=p.PRPRUEFER
        where WVMERKMAL=#{merkmalId} and WVTEIL=#{teilId}
        <include refid="wvTimeSearch"/>
        ORDER BY w.WVDATZEIT
    </select>
    <select id="getMerkmalChartDataMapperByCount" parameterType="cn.qdas.bi_adminlte.bean.TeilBean" resultType="map">
        SELECT * FROM(
        SELECT TOP ${qbSerchWertCount} w.WVTEIL,w.WVMERKMAL,w.WVWERTNR,w.WVWERT,CONVERT(varchar(100),w.WVDATZEIT, 20) AS
        WVDATZEIT,m.MEUGW,m.MEOGW,m.MENENNMAS,m.MEMERKART,m.MEMERKBEZ,p.PRVORNAME,t.TEKURZBEZEICH,t.TEBEZEICH,t.TETEILNR,ISNULL(t.TEAUFTRAGSTR,
        '') AS TEAUFTRAGSTR
        FROM WERTEVAR w
        LEFT JOIN TEIL t ON t.TETEIL = w.WVTEIL
        LEFT JOIN MERKMAL m ON w.WVTEIL=m.METEIL AND w.WVMERKMAL=m.MEMERKMAL
        LEFT JOIN PRUEFER p ON CONCAT(w.WVPRUEFER,'')=p.PRPRUEFER
        where WVMERKMAL=#{merkmalId} and WVTEIL=#{teilId}
<!--        <include refid="wvTimeSearch"/>-->
        ORDER BY w.WVDATZEIT DESC) r ORDER BY r.WVDATZEIT

    </select>
    <select id="getMissionManageDetailsMapper" parameterType="cn.qdas.bi_adminlte.bean.TeilBean" resultType="map">
        SELECT m.MEMERKMAL,m.MEMERKBEZ,m.MENENNMAS,m.MEMERKART,m.MEUGW,m.MEOGW,w.WVWERT,CONVERT(varchar(100),w.WVDATZEIT, 20) as WVDATZEIT,p.PRVORNAME,t.TETEIL,t.TETEILNR
		FROM WERTEVAR w
		LEFT JOIN MERKMAL m ON m.METEIL=w.WVTEIL AND m.MEMERKMAL=w.WVMERKMAL
		LEFT JOIN TEIL t ON t.TETEIL=m.METEIL
		LEFT JOIN PRUEFER p ON w.WVPRUEFER=p.PRPRUEFER
		WHERE t.TETEIL=#{teilId}
		AND w.WVWERTNR=#{wvwertnr}
    </select>
    <!--qa-->
    <select id="getProductLineRecent24HoursDataMapper" parameterType="cn.qdas.bi_adminlte.bean.TeilBean"
            resultMap="productLineRecent24HoursMap">
        SELECT t.TETEIL,t.TETEILNR,t.TEBEZEICH,t.TEKURZBEZEICH,m.MEUGW,m.MEOGW,m.MEMERKART,w.WVWERT,CONVERT(varchar(13),w.WVDATZEIT, 20) AS hourDate,w.WVWERTNR,w.WVMERKMAL
        FROM TEIL t LEFT JOIN MERKMAL m ON t.TETEIL=m.METEIL
        LEFT JOIN WERTEVAR w ON w.WVTEIL=t.TETEIL AND w.WVMERKMAL=m.MEMERKMAL
        WHERE w.WVDATZEIT > #{startTime}
        ORDER BY WVDATZEIT
    </select>
    <resultMap id="productLineRecent24HoursMap" type="java.util.Map">
        <result property="TETEILNR" column="TETEILNR"/>
        <result property="TEBEZEICH" column="TEBEZEICH"/>
        <result property="TEKURZBEZEICH" column="TEKURZBEZEICH"/>
        <collection property="timeList" javaType="java.util.List" ofType="java.util.Map">
            <result property="hourDate" column="hourDate"/>
            <collection property="wvList" javaType="java.util.List" ofType="java.util.Map">
                <result property="TETEIL" column="TETEIL"/>
                <result property="MEUGW" column="MEUGW"/>
                <result property="MEOGW" column="MEOGW"/>
                <result property="MEMERKART" column="MEMERKART"/>
                <result property="WVWERT" column="WVWERT"/>
                <result property="WVWERTNR" column="WVWERTNR"/>
                <result property="WVMERKMAL" column="WVMERKMAL"/>
            </collection>
        </collection>
    </resultMap>
    <select id="getYearComboboxDataMapper" resultType="java.util.Map">
            SELECT substr(DATADATE,0,5) AS year FROM DAYDATA GROUP BY year ORDER BY year DESC
    </select>
    <select id="getProductLineMonthReportDataMapper" parameterType="cn.qdas.bi_adminlte.bean.TeilBean"
            resultMap="plMonthReportMap">
        SELECT TETEILNR,TEBEZEICH,TEKURZBEZEICH,substr(DATADATE,0,11) AS DATADATE,PASSRATE FROM DAYDATA
        WHERE DATADATE &gt; #{startTime} and DATADATE &lt; #{endTime}
        ORDER BY DATADATE
    </select>
    <resultMap id="plMonthReportMap" type="java.util.Map">
        <result property="TETEILNR" column="TETEILNR"/>
        <result property="TEBEZEICH" column="TEBEZEICH"/>
        <result property="TEKURZBEZEICH" column="TEKURZBEZEICH"/>
        <collection property="timeList" javaType="java.util.List" ofType="java.util.Map">
            <result property="DATADATE" column="DATADATE"/>
            <collection property="wvList" javaType="java.util.List" ofType="java.util.Map">
                <result property="PASSRATE" column="PASSRATE"/>
            </collection>
        </collection>
    </resultMap>
    <select id="getProductLineYearReportDataMapper" parameterType="cn.qdas.bi_adminlte.bean.TeilBean"
            resultMap="plMonthReportMap">
        SELECT TETEILNR,TEBEZEICH,TEKURZBEZEICH,substr(DATADATE,0,8) AS DATADATE,PASSRATE FROM DAYDATA
        WHERE DATADATE &gt; #{startTime} and DATADATE &lt; #{endTime}
        ORDER BY DATADATE
    </select>

    <select id="getProcessRecent24HoursDataMapper" parameterType="cn.qdas.bi_adminlte.bean.TeilBean"
            resultMap="processRecent24HoursMap">
        SELECT t.TETEIL,t.TEAUFTRAGSTR,m.MEUGW,m.MEOGW,m.MEMERKART,w.WVWERT,CONVERT(varchar(13),w.WVDATZEIT, 20) AS
        hourDate,w.WVMERKMAL,w.WVWERTNR
        FROM TEIL t LEFT JOIN MERKMAL m ON t.TETEIL=m.METEIL
        LEFT JOIN WERTEVAR w ON w.WVTEIL=t.TETEIL AND w.WVMERKMAL=m.MEMERKMAL
        WHERE w.WVDATZEIT > #{startTime}
        <if test="teilNum !='' and teilNum!=null and teilNum !='undefined' and teilNum !='null'">
            and t.TETEILNR = #{teilNum}
        </if>
        <if test="teilNum =='' or teilNum==null or teilNum =='undefined' or teilNum =='null'">
            and t.TETEILNR IS NULL
        </if>
        <if test="teilName !='' and teilName!=null and teilName !='undefined' and teilName !='null'">
            and t.TEBEZEICH = #{teilName}
        </if>
        <if test="teilName =='' or teilName==null or teilName =='undefined' or teilName =='null'">
            and t.TEBEZEICH IS NULL
        </if>
        <if test="teilK1003 !='' and teilK1003!=null and teilK1003 !='undefined' and teilK1003 !='null'">
            and t.TEKURZBEZEICH = #{teilK1003}
        </if>
        <if test="teilK1003 =='' or teilK1003==null or teilK1003 =='undefined' or teilK1003 =='null'">
            and t.TEKURZBEZEICH IS NULL
        </if>
        ORDER BY WVDATZEIT
    </select>
    <resultMap id="processRecent24HoursMap" type="java.util.Map">
        <result property="TETEIL" column="TETEIL"/>
        <result property="TEAUFTRAGSTR" column="TEAUFTRAGSTR"/>
        <collection property="timeList" javaType="java.util.List" ofType="java.util.Map">
            <result property="hourDate" column="hourDate"/>
            <collection property="wvList" javaType="java.util.List" ofType="java.util.Map">
                <result property="MEUGW" column="MEUGW"/>
                <result property="MEOGW" column="MEOGW"/>
                <result property="MEMERKART" column="MEMERKART"/>
                <result property="WVWERT" column="WVWERT"/>
                <result property="WVMERKMAL" column="WVMERKMAL"/>
                <result property="WVWERTNR" column="WVWERTNR"/>
            </collection>
        </collection>
    </resultMap>

    <select id="getProcessMonthReportDataMapper" parameterType="cn.qdas.bi_adminlte.bean.TeilBean"
            resultMap="processMonthReportMap">
        SELECT TEAUFTRAGSTR,substr(DATADATE,0,11) AS DATADATE,PASSRATE FROM DAYDATA
        WHERE DATADATE &gt; #{startTime} and DATADATE &lt; #{endTime}
        <if test="teilNum !='' and teilNum!=null and teilNum !='undefined' and teilNum !='null'">
            and TETEILNR = #{teilNum}
        </if>
        <if test="teilNum =='' or teilNum==null or teilNum =='undefined' or teilNum =='null'">
            and TETEILNR IS NULL
        </if>
        <if test="teilName !='' and teilName!=null and teilName !='undefined' and teilName !='null'">
            and TEBEZEICH = #{teilName}
        </if>
        <if test="teilName =='' or teilName==null or teilName =='undefined' or teilName =='null'">
            and TEBEZEICH IS NULL
        </if>
        <if test="teilK1003 !='' and teilK1003!=null and teilK1003 !='undefined' and teilK1003 !='null'">
            and TEKURZBEZEICH = #{teilK1003}
        </if>
        <if test="teilK1003 =='' or teilK1003==null or teilK1003 =='undefined' or teilK1003 =='null'">
            and TEKURZBEZEICH IS NULL
        </if>
        ORDER BY DATADATE
    </select>
    <resultMap id="processMonthReportMap" type="java.util.Map">
        <result property="TEAUFTRAGSTR" column="TEAUFTRAGSTR"/>
        <collection property="timeList" javaType="java.util.List" ofType="java.util.Map">
            <result property="DATADATE" column="DATADATE"/>
            <collection property="wvList" javaType="java.util.List" ofType="java.util.Map">
                <result property="PASSRATE" column="PASSRATE"/>
            </collection>
        </collection>
    </resultMap>
    <select id="getProcessYearReportDataMapper" parameterType="cn.qdas.bi_adminlte.bean.TeilBean"
            resultMap="processMonthReportMap">
        SELECT TEAUFTRAGSTR,substr(DATADATE,0,8) AS DATADATE,PASSRATE FROM DAYDATA
        WHERE DATADATE &gt; #{startTime} and DATADATE &lt; #{endTime}
        <if test="teilNum !='' and teilNum!=null and teilNum !='undefined' and teilNum !='null'">
            and TETEILNR = #{teilNum}
        </if>
        <if test="teilNum =='' or teilNum==null or teilNum =='undefined' or teilNum =='null'">
            and TETEILNR IS NULL
        </if>
        <if test="teilName !='' and teilName!=null and teilName !='undefined' and teilName !='null'">
            and TEBEZEICH = #{teilName}
        </if>
        <if test="teilName =='' or teilName==null or teilName =='undefined' or teilName =='null'">
            and TEBEZEICH IS NULL
        </if>
        <if test="teilK1003 !='' and teilK1003!=null and teilK1003 !='undefined' and teilK1003 !='null'">
            and TEKURZBEZEICH = #{teilK1003}
        </if>
        <if test="teilK1003 =='' or teilK1003==null or teilK1003 =='undefined' or teilK1003 =='null'">
            and TEKURZBEZEICH IS NULL
        </if>
        ORDER BY DATADATE
    </select>
    <select id="getQaMerkmalDataMapper" parameterType="cn.qdas.bi_adminlte.bean.TeilBean" resultMap="qaMerkmalDataMap">
        SELECT m.METEIL,m.MEMERKMAL,m.MEMERKBEZ,m.MENENNMAS,m.MEUGW,m.MEOGW,m.MEEINHEITTEXT,m.MEMERKART,
        w.WVWERT,w.WVWERTNR,CONVERT(varchar(100),w.WVDATZEIT, 20) AS WVDATZEIT,w.WVTEIL,w.WVMERKMAL
        FROM MERKMAL m
        LEFT JOIN WERTEVAR w ON m.METEIL=w.WVTEIL AND m.MEMERKMAL = w.WVMERKMAL
        WHERE m.METEIL=#{teilId}
        <include refid="wvTimeSearch"/>
        ORDER BY w.WVDATZEIT
    </select>
    <resultMap id="qaMerkmalDataMap" type="java.util.Map">
        <result property="METEIL" column="METEIL"/>
        <result property="MEMERKMAL" column="MEMERKMAL"/>
        <result property="MEMERKBEZ" column="MEMERKBEZ"/>
        <result property="MENENNMAS" column="MENENNMAS"/>
        <result property="MEUGW" column="MEUGW"/>
        <result property="MEOGW" column="MEOGW"/>
        <result property="MEEINHEITTEXT" column="MEEINHEITTEXT"/>
        <result property="MEMERKART" column="MEMERKART"/>
        <collection property="wvList" javaType="java.util.List" ofType="java.util.Map">
            <result property="WVWERT" column="WVWERT"/>
            <result property="WVWERTNR" column="WVWERTNR"/>
            <result property="WVDATZEIT" column="WVDATZEIT"/>
            <result property="WVTEIL" column="WVTEIL"/>
            <result property="WVMERKMAL" column="WVMERKMAL"/>
        </collection>
    </resultMap>
    <select id="getRecent125NumMapper" parameterType="cn.qdas.bi_adminlte.bean.TeilBean" resultType="java.util.Map">
        SELECT TOP 126 WVWERTNR FROM WERTEVAR WHERE WVTEIL=#{teilId} AND WVMERKMAL=#{merkmalId} ORDER BY WVWERTNR DESC
    </select>

    <select id="getQbShowFormInfoMapper" parameterType="cn.qdas.bi_adminlte.bean.TeilBean" resultType="map">
        SELECT w.WVTEIL,w.WVMERKMAL FROM WERTEVAR w LEFT JOIN TEIL t ON w.WVTEIL=t.TETEIL WHERE 1=1
        <include refid="wvTimeSearch"/>
        <if test="teilNum !='' and teilNum!=null and teilNum !='undefined' and teilNum !='null'">
            and t.TETEILNR = #{teilNum}
        </if>
        <if test="teilK1003 !='' and teilK1003!=null and teilK1003 !='undefined' and teilK1003 !='null'">
            and t.TEKURZBEZEICH = #{teilK1003}
        </if>
        <if test="processNum !='' and processNum!=null and processNum !='undefined' and processNum !='null'">
            and t.TEAUFTRAGSTR = #{processNum}
        </if>
        GROUP BY w.WVTEIL,w.WVMERKMAL
    </select>
</mapper>